@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

body, html, .content {
    font-family: Roboto;
    background-color: black;
    color: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
  padding: 0px;
  align-items: stretch;
  flex: 1 100%;
}

#map {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 100%;
}

.toolbar {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.toolbar div {
  padding: 7px;
  border-right: 1px solid #ccc;
}
.toolbar div:hover {
  background-color: #f4f4f4;
}

.toolbar a {
  padding: 0px 5px;
}

.loading {
  background-color: black;
  color: #eee;
  width: 300px;
  height: 50px;
  margin-left: -170px;
  margin-top: -70px;
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
}

.message {
  background-color: #eee;
  color: black;
  width: 300px;
  height: 50px;
  margin-left: -170px;
  margin-top: -70px;
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
  border: 2 solid black;
  z-index: 2000;
}

.inventory {
  background-color: #DDDDDD;
  color: black;
  width: 500px;
  height: 60%;;
  position: absolute;
  padding: 20px 0px 20px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.inventory .data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  box-sizing: border-box;
}

.eggs {
  width: 120px;
  height: 100px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.eggs .imgspan {
  flex-grow: 1; 
  display: flex;
}

.eggs img {
  max-width: 65px;
  max-height: 80px;
  margin: auto;
}

.pokemon {
  width: 80px;
  height: 100px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.pokemon .imgspan {
  flex-grow: 1; 
  display: flex;
}

.pokemon img {
  max-width: 55px;
  max-height: 55px;
  margin: auto;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}