@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 500;
  src: local('Roboto'), local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

body, html, .content {
    font-family: Roboto;
    font-weight: 400;
    background-color: black;
    color: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.content {
  padding: 0px;
  align-items: stretch;
  flex: 1 100%;
  background: linear-gradient(to top, #24ccaa, #a2db95);
}

#map {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 100%;
  background-color: transparent;
}

.pkmIcon {
  max-height: 45px;
}

.toolbar {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  border-radius: 4px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  overflow: hidden;
}
.toolbar div {
  border-right: 1px solid #ccc;
}
.toolbar div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.toolbar div:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.toolbar div:hover {
  background-color: #f4f4f4;
}

.toolbar a {
  padding: 7px 12px 5px;
  display: inline-block;
}

.loading {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  max-width: 350px;
  height: 50px;
  line-height: 50px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.message {
  background-color: rgba(255,255,255,0.9);
  color: #436a6b;
  max-width: 350px;
  height: 50px;
  line-height: 50px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}
.message .data {
  line-height: 100%;
}

.inventory {
  background-color: rgba(255,255,255,0.95);
  color: #436a6b;
  width: 500px;
  height: 63%;;
  position: absolute;
  padding: .5em 0px .5em .5em;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: top 500ms, opacity 500ms;
}

.inventory.active {
  top: 50%;
  opacity: 1;
  transition: top 500ms, opacity 500ms;
}

.inventory .data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  box-sizing: border-box;
}

.data::-webkit-scrollbar-track {
  border-radius: 20px;
	background-color: #F5F5F5;
}
.data::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.data::-webkit-scrollbar-thumb {
  border-radius: 20px;
	background-color: #436a6b;
}

.eggs, .items {
  width: 120px;
  max-height: 100px;
  padding: .65em;
  margin: .65em;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.eggs .imgspan, .items .imgspan {
  flex-grow: 1;
  display: flex;
}

.eggs img, .items img {
  max-width: 65px;
  max-height: 80px;
  margin: auto;
}

.pokemon {
  width: 30%;
  padding: .5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.inventory .info {
  font-size: 80%;
}
.inventory .info ~ .info {
  font-size: 70%;
}

.inventory .numberinfo {
  margin: .6em 13em;
  display: inline-block;
  border: 1px solid #436a6b;
  border-radius: 5px;
  padding: 3px;
}

.pokemonsort a {
  text-decoration: none;
  color: #436a6b;
  display: inline-block;
  padding: .3em .5em;
  border-radius: .2em;
}
.pokemonsort a:hover,
.pokemonsort a:active,
.pokemonsort a.active {
  background-color: #436a6b;
  color: #fff;
}

.pokemonsort a:hover {
  opacity: 0.7;
}

.pokemon .imgspan {
  flex-grow: 1;
  display: flex;
}

.pokemon img {
  max-width: 75px;
  max-height: 75px;
  margin: auto;
}

.pokemon .name {
  font-weight: bold;
}

.pokemon span:last-child {
  letter-spacing: 0.05em;
}

.pokemon:hover img {
  opacity: 0.3;
}

.pokemon .transfer {
  display:none;
}

.pokemon:hover .transfer {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.pokemon:hover .transfer img {
  opacity: 1;
}

.close {
  position: absolute;
  right: 10px;
}