
form {
    background-color: #eee;
    color: black;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 100%;

    width: 60%;
    min-width: 500px;
    margin: 20px auto;
}

.content h2 {
    text-align: center;
}

.config-form {
    margin:10px 0;
    max-width: 80%;
    padding: 20px 12px 10px 20px;
}
.config-form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 30px 0 0 0;
}
.config-form label{
    margin: 0px 0 10px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    font-size: 120%;
}
.config-form input[type=text],
.config-form input[type=date],
.config-form input[type=datetime],
.config-form input[type=number],
.config-form input[type=search],
.config-form input[type=time],
.config-form input[type=url],
.config-form input[type=email],
textarea,
select{
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    transition: all 0.30s ease-in-out;
    outline: none;
}
.config-form input[type=text]:focus,
.config-form input[type=date]:focus,
.config-form input[type=datetime]:focus,
.config-form input[type=number]:focus,
.config-form input[type=search]:focus,
.config-form input[type=time]:focus,
.config-form input[type=url]:focus,
.config-form input[type=email]:focus,
.config-form textarea:focus,
.config-form select:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.config-form .field-folder {
    width: 70%;
}

.config-form .field-common {
    width: 70%;
    font-size: 100%;
}
.config-form .field-long {
    width: 100%;
}
.config-form .field-select {
    width: 70%;
    font-size: 100%;
}
.config-form .field-textarea {
    height: 100px;
    font-size: 100%;
}
.config-form input[type=text] {
    font-size: 100%;
}
input[type=submit], input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-size: 100%;
}
input[type=submit]:hover, input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    font-size: 100%;
}
.config-form .required{
    color:red;
}
